/*  GENERAL SETTINGS  */
* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: #303247;
}
.App {
  max-width: 100%;
  padding: 50px;
}
/*  GENERAL PAGE  */
.wrapper_item_invest {
  max-width: 50%;
}
.title_general_page {
  font-size: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #cccccc;
}
.total_amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

/* ITEMS SETTINGS */ 
.wrapper_item {
  margin-top: 30px;
  padding: 30px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text_item > div {
  margin: 10px 0;
}
.text_item > div:first-child {
  font-weight: 600;
}
.text_item span {
  font-weight: bold;
}

/* POPAP */
.popap_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
}
.popap {
  background-color: #ffffff;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) 
}
.close_popap {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.close_popap:hover {
  color: #999999;
}
.name_popap {
  font-size: 35px;
  font-weight: 600;
}
.text_popap > * {
  margin: 20px 0;
}
.title_investment_amount {
  margin-top: 30px;
  font-size: 25px;
  font-weight: 600;
}
.field_loan {
  margin-top: 20px;
}
.field_loan > *:last-child {
  margin-left: 30px;
}
.field_loan input {
  padding: 10px 5px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  outline: none;
}


/*  BUTTON  */
.btn {
  padding: 12px 26px;
  border: none;
  outline: none;
  background-color: #F6E308;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 500;
}
.btn:hover {
  background-color: #feed38;
}
